@model WebModel
@{
    ViewData["Title"] = "Index";
}
    <div class="header">
        <a class="btn draw-border" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
    </div>


    <div class="form ">
        <h1>Teacher</h1>
        <form method="post" asp-controller="Teacher" asp-action="SetValuation">
            <div class="input">
                <div class="inputBox">
                    <label asp-for="Subject"></label>
                    <select asp-for="Subject">
                        @foreach(var item in Model.Subjects) {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>

                <div class="inputBox">
                    <label asp-for="Group"></label>
                    <select asp-for="Group">
                        @foreach(var item in Model.Groups) {
                            <option value="@item.Number">@item.Number</option>
                        }
                    </select>
                </div>

                <div class="inputBox">
                    <input type="submit" class="button blue" value="Set valuation" />
                </div>
                <div class="inputBox">
                    <input type="submit"  asp-controller="Teacher" asp-action="ShowValuation" class="button blue" value="Show valuation" />
                </div>
                <input asp-for="Id" value="@Model.Id" type="hidden" />
                <input asp-for="Role" value="@Model.Role" type="hidden">
                <input asp-for="Subjects" value="@Model.Subjects" type="hidden">
                <input asp-for="Groups" value="@Model.Groups" type="hidden">
            </div>
        </form>
 
        </div>
