@model WebModel
@{
    ViewData["Title"] = "Index";
}

<h1>Teacher</h1>

<div class="form ">
    <form method="post" asp-controller="Teacher" asp-action="SetValuation">

        <div class="inputBox">
            <label asp-for="Subject"></label>
            <select asp-for="Subject">
                @foreach(var item in Model.Subjects) {
                    <option>@item</option>
                }
            </select>
        </div>

        <div class="inputBox">
            <label asp-for="Group"></label>
            <select asp-for="Group">
                @foreach(var item in Model.Groups) {
                    <option>@item</option>
                }
            </select>
        </div>

        <div class="inputBox">
            <input type="submit" value="Set valuation" />
        </div>

    </form>
</div>
<input asp-for="Id" value="@Model.Id" hidden />
<input asp-for="Role" value="@Model.Role" hidden>
<input asp-for="Subjects" value="@Model.Subjects" hidden>
<input asp-for="Groups" value="@Model.Groups" hidden>